body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

#container {
    display: flex;
        align-items: center;
        justify-content: center;
        /* Center items horizontally */
        margin-top: 50px;
        margin-left: 100px;
}


#quote {
            font-family: Arial, sans-serif;
            font-size: 18px;
            line-height: 1.5;
            color: #333;
            /* Adjust color as needed */
            background-color: #f9f9f9;
            /* Background color */
            padding: 20px;
            /* Add padding for spacing */
            border-radius: 5px;
            /* Add rounded corners */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            /* Add shadow for depth */
            max-width: 600px;
            /* Limit maximum width */
            margin: 0 auto;
            /* Center horizontally */
        }





